
<% if !logged_in? %>
  Bienvenue, pour accéder au club, <%= link_to 'login', login_path %> ou <%= link_to 'signup', new_user_path %>
<% else %>
  Bienvenue <h3><%= current_user.first_name %> <%= current_user.last_name %><br></h3>
  <%= link_to 'Accès au club', users_path, class:'btn btn-success' %>
<% end %>
